body {
  background-color: black;
}

#slider {
  width: 600px;
  height: 400px;
  margin: 100px auto 0 auto;
  overflow: hidden;
  position: relative;
}

#slider .slides {
  display: flex;
  transition: transform 1s ease-in-out;
}

#slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slide-panel {
  position: relative;
}

.slide-panel-header {
  font-weight: 700;
  font-size: 36px;
  color: white;
  position: absolute;
  left: 16px;
  bottom: -10px;
}

#navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 16px);
  padding: 8px;
  top: 50%;
  margin: auto;
}

#dots {
  position: absolute;
  display: flex;
  gap: 4px;
  width: calc(100% - 16px);
  padding: 8px;
  bottom: 8px;
  margin: auto;
  place-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-color: white;
  border-radius: 100%;
  cursor: pointer;
}

.active {
  background-color: white;
}

  
#buttons-wrapper {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#buttons-wrapper button:hover {
  background-color: #0056b3;
}