/* css code */
#slider {
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    overflow: hidden;
    border: 1px solid;
    border-color: red;
  }
  #slider .slides {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  #slider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #buttons-wrapper {
    display: flex;
    width: 100%;
    gap: 5px;
    place-content: center;
  }